<section class="container d-flex flex-column align-items-center">
    <section class="dadosConta">
        <form id="formDadosConta" name="formDadosConta">
            <legend id="formDadosContaTitle" class="card-title text-center">Dados da conta</legend>
            <section class="m-3">
                <div class="img-container">
                    <img src="/img/perfil.webp" alt="Imagem de perfil" id="imagemPerfil" class="img-perfil">
                    <input type="file" id="inputImagemPerfil" class="input-imagem" accept="image/*">
                </div>
            </section>

            <fieldset>
                <legend>Dados pessoais: </legend>
                <section class="row m-3">
                    <div class="col">
                        <label class="form-label" for="nome"><i class="text-danger">*</i> Nome: </label>
                        <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite seu nome aqui"
                            aria-required="true" aria-describedby="name" autocomplete="family-name"
                            value="{{user.nome}}" required>
                        <small id="alertaNome" class="text-muted"></small>
                    </div>
                    <div class="col">
                        <label class="form-label" for="sobrenome"><i class="text-danger">*</i> Sobrenome: </label>
                        <input type="text" name="sobrenome" id="sobrenome" class="form-control"
                            placeholder="Digite seu sobrenome aqui" aria-required="true" aria-describedby="name"
                            autocomplete="name" value="{{user.sobrenome}}" required>
                        <small id="alertaNome" class="text-muted"></small>
                    </div>
                </section>

                <section class="row m-3">
                    <div class="col">
                        <label class="form-label" for="dataNascimento"><i class="text-danger">*</i> Data de
                            Nascimento:</label>
                        <input type="date" name="dataNascimento" id="dataNascimento" class="form-control"
                            aria-required="true" autocomplete="bday" data-value="{{user.dataNascimento}}" value=""
                            required>
                        <small id="alertaDataNascimento" class="text-muted"></small>
                    </div>
                    <div class="col">
                        <label class="form-label" for="cpf"><i class="text-danger">*</i> CPF: </label>
                        <input type="text" name="cpf" id="cpf" class="form-control" placeholder="000.000.000-00"
                            aria-required="true" aria-describedby="cpfFormat" autocomplete="cpf" value="{{user.cpf}}"
                            required>
                    </div>
                </section>

                <section class="row m-3">
                    <div class="col">
                        <label class="form-label" for="genero">Gênero:</label>
                        <select name="genero" id="genero" class="form-control" aria-required="true" required>
                            {{#unless user.genero}}
                            <option value="" disabled selected>Selecione seu gênero</option>
                            {{else}}
                            <option value="{{user.genero}}">{{user.genero}}</option>
                            {{/unless}}
                            <option value="masculino">Masculino</option>
                            <option value="feminino">Feminino</option>
                            <option value="outro">Outro</option>
                            <option value="prefiro_nao_dizer">Prefiro não dizer</option>
                        </select>
                        <small id="alertaGenero" class="text-muted"></small>
                        <input type="text" name="outroGenero" id="outroGenero" class="form-control"
                            placeholder="Especifique seu gênero">
                    </div>
                    <div class="col"></div>
                </section>

                <section class="row m-3">
                    <div class="col">
                        <label class="form-label" for="email"><i class="text-danger">*</i> E-mail:</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="seu@email.aqui"
                            aria-required="true" aria-describedby="emailFormat" autocomplete="email"
                            value="{{user.email}}" required>
                        <small id="alertaEmail" class="text-muted"></small>
                    </div>
                    <div class="col">
                        <label class="form-label" for="telefone"><i class="text-danger">*</i> Telefone:</label>
                        <input type="tel" name="telefone" id="telefone" class="form-control"
                            placeholder="(00) 0 0000-0000" maxlength="15" aria-required="true"
                            aria-describedby="telefoneFormat" autocomplete="phone" value="{{user.telefone}}" required>
                        <small id="alertaTelefone" class="text-muted"></small>
                    </div>
                </section>
            </fieldset>

            <fieldset>
                <legend>Endereço: </legend>
                <section class="row m-3">
                    <div class="col">
                        <label class="form-label" for="endereco"><i class="text-danger">*</i> Cep:</label>
                        <input type="text" name="endereco" id="endereco" class="form-control" placeholder="12345-324"
                            aria-required="true" autocomplete="postal-code" value="{{user.endereco.[0].cep}}" required>
                        <small id="alertaEndereco" class="text-muted"></small>
                    </div>

                    <div class="col">
                        <label class="form-label" for="estado"><i class="text-danger">*</i> Estado:</label>
                        <select name="estado" id="estado" class="form-control">
                            {{#unless user.endereco.[0].estado}}
                            <option value="" selected disabled>Selecione o seu estado</option>
                            {{else}}
                            <option value="{{user.endereco.[0].estado}}">{{user.endereco.[0].estado}}</option>
                            {{/unless}}
                        </select>
                        <small id="alertaEstado" class="text-muted"></small>
                    </div>
                </section>

                <section class="row m-3">
                    <div class="col">
                        <label class="form-label" for="cidade"><i class="text-danger">*</i> Cidade:</label>
                        <input type="text" name="cidade" id="cidade" class="form-control" placeholder="Cidade nova"
                            aria-required="true" autocomplete="address-level2" value="{{user.endereco.[0].cidade}}"
                            required>
                        <small id="alertaCidade" class="text-muted"></small>
                    </div>
                    <div class="col">
                        <label class="form-label" for="bairro"><i class="text-danger">*</i> Bairro:</label>
                        <input type="text" name="bairro" id="bairro" class="form-control" placeholder="São Jorge"
                            aria-required="true" autocomplete="address-level3" value="{{user.endereco.[0].bairro}}"
                            required>
                        <small id="alertaBairro" class="text-muted"></small>
                    </div>
                </section>
                <section class="row m-3">
                    <div class="col">
                        <label class="form-label" for="rua"><i class="text-danger">*</i> Rua:</label>
                        <input type="text" name="rua" id="rua" class="form-control" placeholder="Av. sua rua"
                            aria-required="true" autocomplete="street-address" value="{{user.endereco.[0].rua}}"
                            required>
                        <small id="alertaRua" class="text-muted"></small>
                    </div>
                    <div class="col">
                        <label class="form-label" for="numeroCasa"><i class="text-danger">*</i> Número:</label>
                        <input type="text" name="numeroCasa" id="numeroCasa" class="form-control" placeholder="123"
                            aria-required="true" autocomplete="street-address" value="{{user.endereco.[0].numero}}"
                            required>
                        <small id="alertaNumeroCasa" class="text-muted"></small>
                    </div>
                </section>
            </fieldset>
            <fieldset>
                <legend>Dias e horarios:</legend>
                <div class="row m-3">
                    <div class="col tag-container">
                        <label class="form-label" for="diasDisponiveis">Dias de disponibilidade: </label>
                        <input type="datetime" name="diasDisponiveis" id="diasDisponiveis" class="form-control"
                            placeholder="segunda" list="diasSemana">
                        <datalist id="diasSemana">
                            <option value="Domingo">Domingo</option>
                            <option value="Segunda">Segunda</option>
                            <option value="Terça">Terça</option>
                            <option value="Quarta">Quarta</option>
                            <option value="Quinta">Quinta</option>
                            <option value="Sexta">Sexta</option>
                            <option value="Sábado">Sábado</option>
                        </datalist>
                        <small id="alertaDiasDisponiveis" class="text-muted">Preencha com o nome dos dias da
                            semana.</small>
                    </div>
                </div>
                <div class="servicos m-3" name="dias">
                    {{#each user.diasDisponiveis}}
                    <span class="tag" name="dias" value="{{this}}">{{this}}
                        <span class="remove-tag">x</span>
                    </span>
                    {{else}}
                    {{/each}}
                </div>
                <hr>
                <div class="row m-3">
                    <div class="col">
                        <label class="form-label">Horarios antes do almoço: </label>
                        <input type="time" name="entradaAntesAlmoco" id="entradaAntesAlmoco" class="form-control"
                            value="{{user.horariosDisponiveis.[0].start}}">
                        <input type="time" name="saidaAntesAlmoco" id="saidaAntesAlmoco" class="form-control"
                            value="{{user.horariosDisponiveis.[0].end}}">
                        <small id="alertaHorariosDisponiveis" class="text-muted"></small>
                    </div>
                    <div class="col">
                        <label class="form-label">Horarios depois do almoço: </label>
                        <input type="time" name="entradaDepoisAlmoco" id="entradaDepoisAlmoco" class="form-control"
                            value="{{user.horariosDisponiveis.[1].start}}">
                        <input type="time" name="saidaDepoisAlmoco" id="saidaDepoisAlmoco" class="form-control"
                            value="{{user.horariosDisponiveis.[1].end}}">
                        <small id="alertaHorariosDisponiveis" class="text-muted"></small>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Serviços:</legend>
                <div class="row m-3">
                    <div class="col tag-container">
                        <label class="form-label" for="servico">Adicione seus serviços: </label>
                        <input type="text" name="servico" id="servico" class="form-control"
                            placeholder="Corte de cabelo">
                    </div>
                </div>
                <div class="servicos m-3" name="servicos">
                    {{#each user.servicos}}
                    <span class="tag" value="{{this}}">{{this}}
                        <span class="remove-tag">x</span>
                    </span>
                    {{else}}
                    {{/each}}
                </div>

            </fieldset>
            <section class="d-grid gap-2">
                <button class="btn btn-lg btn-primary m-3" id="buttonDadosConta" aria-label="Confirmar log-in">Atualiza
                    dados</button>
            </section>
        </form>
    </section>
</section>

<script type="module" src="/js/perfil/validacao.js"></script>
<script type="module" src="/js/painel/funcionario/validacao.js"></script>