<section class="container d-flex flex-column">
    <section class="agendar">
        <h1>Agendar serviço</h1>
        <form action="/agendar" method="POST">
            <div class="form-group">
                <label for="barbeiro">Escolha o barbeiro:</label>
                <section class="input-container">
                    <select id="barbeiro" name="barbeiro" required>
                        <option value="" disabled selected>Escolha seu barbeiro favorito.</option>
                        {{#each barbeiros}}
                        <option value="{{_id}}" data-servicos="{{this.servicos}}" data-dias="{{this.diasDisponiveis}}">{{nome}}</option>
                        {{/each}}
                    </select>
                </section>
            </div>
            <div class="form-group">    
                <label for="servico">Escolha o tipo de serviço:</label>
                <section class="input-container">
                    <select id="servico" name="servico" required>
                       <option value="" disabled selected>Selecione o serviço desejado.</option>
                    </select>
                </section>
            </div>
            <div class="form-group">
                <label for="data">Escolha o dia:</label>
                <section class="input-container">
                    <input type="date" id="data" name="data" required>
                </section>
            </div>
            <div class="form-group">
                <label for="horario">Escolha o horário:</label>
                <section class="input-container">
                    <input type="time" id="horario" name="horario" required>
                </section>
            </div>
            <button type="submit">Agendar</button>
        </form>
    </section>
    <section class="agendamentos mt-4">
        <h2>Meus agendamentos</h2>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Barbeiro</th>
                    <th>Serviço</th>
                </tr>
            </thead>
            <tbody>
                {{#each agendamentos}}
                <tr>
                    <td>{{this.data}}</td>
                    <td>{{this.horario}}</td>
                    <td>{{this.barbeiro}}</td>
                    <td>{{this.servico}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="4">Nenhum agendamento encontrado.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</section>

<script>
    document.getElementById('barbeiro').addEventListener('change', function() {
        const selectedOption = this.options[this.selectedIndex];
        
        // Atualiza os serviços
        const servicos = selectedOption.getAttribute('data-servicos').split(',');
        const servicoSelect = document.getElementById('servico');
        servicoSelect.innerHTML = '<option value="" disabled selected>Selecione o serviço desejado.</option>';
        servicos.forEach(function(servico) {
            const option = document.createElement('option');
            option.value = servico.trim();
            option.textContent = servico.trim();
            servicoSelect.appendChild(option);
        });

        // Atualiza os dias disponíveis
        const diasDisponiveis = selectedOption.getAttribute('data-dias').split(',');
        const dataInput = document.getElementById('data');
        dataInput.setAttribute('min', diasDisponiveis[0]);
        dataInput.setAttribute('max', diasDisponiveis[diasDisponiveis.length - 1]);

        // Atualiza os horários disponíveis
        const horasDisponiveis = selectedOption.getAttribute('data-horas').split(',');
        const horarioInput = document.getElementById('horario');
        horarioInput.setAttribute('min', horasDisponiveis[0]);
        horarioInput.setAttribute('max', horasDisponiveis[horasDisponiveis.length - 1]);
    });

    document.getElementById('data').addEventListener('change', function() {
        const selectedOption = document.getElementById('barbeiro').options[this.selectedIndex];

        const dataSelecionada = new Date(document.getElementById("data").value);
        const diaSelecionado = dataSelecionada.getUTCDate();
        const diasDisponiveis = selectedOption.getAttribute('data-dias').split(',');
        console.log(diasDisponiveis)
        if (!diasDisponiveis.includes(diaSelecionado)) {
            alert('O barbeiro está de folga esse dia. Por favor, escolha outro dia.');
            this.value = '';
        }
    });

    document.getElementById('horario').addEventListener('change', function() {
        const selectedTime = this.value;

        const hours = parseInt(selectedTime.split(':')[0], 10);
        
        // Verifica se o horário está entre 9h e 18h
        if (hours < 9 || hours >= 18) {
            alert('Os barbeiros só trabalham entre 9h e 18h. Por favor, escolha um horário dentro desse intervalo.');
            this.value = '';
        }
    });
</script>
