<section class="container d-flex flex-column">
    <section class="historico">
        <h1>Histórico de Agendamentos</h1>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Barbeiro</th>
                    <th>Serviço</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each agendamento}}
                <tr>
                    <td name="dataAgendamento">{{this.dataAgendamento}}</td>
                    <td>{{this.horaAgendamento}}</td>
                    <td>{{this.barbeiro.nome}}</td>
                    <td>{{this.servico}}</td>
                    <td>{{this.status}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="4">Você não tem nenhum histórico.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</section>

<script type="module" src="/js/painel/funcoes.js"></script>