<section class="container">
    <section class="usuario">
        <h1>Olá, {{user.nome}}!</h1>
        <p>Seja bem-vindo ao seu painel de controle.</p>
    </section>
</section>

<section class="container">
    <section class="agendamentos">
        <h3>Últimos Agendamentos</h3>
        <table>
            <thead>
            <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Serviço</th>
                <th>Starus</th>
            </tr>
            </thead>
            <tbody>
            {{#each agendamento}}
            <tr>
                <td name="dataAgendamento">{{this.dataAgendamento}}</td>
                <td>{{this.horaAgendamento}}</td>
                <td>{{this.servico}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3">Nenhum agendamento encontrado.</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
</section>

<script type="module" src="/js/painel/funcoes.js"></script>