<section class="container d-flex flex-column align-items-center">
    <section class="dadosConta">
        <form id="formDadosConta" name="formDadosConta">
            <legend id="formDadosContaTitle" class="card-title text-center">Dados da conta</legend>
            <fieldset aria-labelledby="formDadosContaTitle">
                <section class="m-3">
                    <label class="form-label" for="nome"><i class="text-danger">*</i> Nome completo:</label>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite seu nome aqui"
                        aria-required="true" aria-describedby="name" autocomplete="name" value="{{cliente.nome}}"
                        required>
                    <small id="alertaNome" class="text-muted"></small>
                </section>
                <section class="m-3">
                    <label class="form-label" for="email"><i class="text-danger">*</i> E-mail:</label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="seu@email.aqui"
                        aria-required="true" aria-describedby="emailFormat" autocomplete="email"
                        value="{{cliente.email}}" required>
                    <small id="alertaEmail" class="text-muted">Digite no formato exemplo@email.com</small>
                </section>
                <section class="m-3">
                    <label class="form-label" for="telefone"><i class="text-danger">*</i> Telefone:</label>
                    <input type="tel" name="telefone" id="telefone" class="form-control" placeholder="(00) 0 0000-0000"
                        maxlength="15" aria-required="true" aria-describedby="telefoneFormat" autocomplete="phone"
                        value="{{cliente.telefone}}" required>
                    <small id="alertaTelefone" class="text-muted"></small>
                </section>
                <section class="m-3">
                    <label class="form-label" for="endereco"><i class="text-danger">*</i> Endereço:</label>
                    <input type="text" name="endereco" id="endereco" class="form-control" placeholder="Av. sua rua, 123"
                        aria-required="true" autocomplete="street-address" value="{{cliente.endereco}}" required>
                    <small id="alertaEndereco" class="text-muted"></small>
                </section>
                <section class="m-3">
                    <label class="form-label" for="dataNascimento"><i class="text-danger">*</i> Data de
                        Nascimento:</label>
                    <input type="date" name="dataNascimento" id="dataNascimento" class="form-control"
                        aria-required="true" value="{{cliente.dataNascimento}}" required>
                    <small id="alertaDataNascimento" class="text-muted"></small>
                </section>
                <section class="m-3">
                    <label class="form-label" for="genero"><i class="text-danger">*</i> Gênero:</label>
                    <select name="genero" id="genero" class="form-control" aria-required="true" required>
                        <option value="" disabled selected>Selecione seu gênero</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="outro">Outro</option>
                        <option value="prefiro_nao_dizer">Prefiro não dizer</option>
                    </select>
                    <small id="alertaGenero" class="text-muted"></small>
                    <input type="text" name="outroGenero" id="outroGenero" class="form-control"
                        placeholder="Especifique seu gênero" style="display: none; margin-top: 10px;">
                </section>
                <section class="d-grid gap-2">
                    <button class="btn btn-lg btn-primary m-3" id="buttonDadosConta"
                        aria-label="Confirmar log-in">Atualiza dados</button>
                </section>
            </fieldset>
        </form>
    </section>
</section>


<script type="module" src="/js/perfil/validacao.js"></script>